<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!--content-->
<script>
    new WOW().init();
    $(document).ready(function() {
        $( "span.menu" ).click(function() {
            $( "ul.res" ).slideToggle( 300, function() {
                // Animation complete.
            });
        });

    });
</script>
<div class="gallery">
	<div class="container">
		<div class="galley-grid wow bounceInLeft" data-wow-delay="0.3s">
			<h1>Gallery</h1>
			<span class="lft-bar-gallery"> </span>
			<span class="rit-bar-gallery"> </span>
		</div>
		<div class="project-top wow fadeInUp animated" data-wow-delay=".5s">
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Nam libero tempore cum</h5>
					</div>					
					<img src="photos/gal1.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<h5></h5>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="photos/gal2.jpg"alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<h5></h5>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="photos/gal3.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<h5>
						</h5>
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5></h5>
					</div>
					
					<img src="photos/gal4.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<h5>
						</h5>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5></h5>
					</div>
					
					<img src="photos/gal5.jpg" alt="Project 01" class="img-responsive thumbnailImage"   />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<h5>
						</h5>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="photos/gal6.jpg" alt="Project 01" class="img-responsive thumbnailImage"/>
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<h5>
						</h5>
				</div>
			</div>
			<div class="clearfix"> </div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="photos/gal7.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>

						</p>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="photos/gal8.jpg" alt="Project 01" class="img-responsive thumbnailImage" />
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<h5>
						</h5>
				</div>
			</div>
			<div class="col-md-4 project">	
				<div class="projectThumbnail">
					<div class="projectThumbnailHover projcet-ro">
						<h4>Tour</h4>
						<h5>Nam libero tempore cum</h5>
					</div>
					
					<img src="photos/gal9.jpg" alt="Project 01" class="img-responsive thumbnailImage"/>
				</div>
				<div class="projectInfo">
					<div class="projectNavClose">
						<button class="closeButton"><img src="images/cross.png" alt=""></button>
					</div>
					<div class="clearfix"> </div>
					<h4>But I must explain</h4>
					<h5> </h5>
				</div>
			</div>
			
			<div class="clearfix"> </div>
		</div>		
	</div>
</div>
<!---->
<!--footer start here-->
