<script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            items : 3,
            lazyLoad : true,
            autoPlay : false,
            pagination : true,
        });
        $("#slider2").responsiveSlides({
            auto: true,
            pager: true,
            speed: 300,
            namespace: "callbacks",
        });
        $( "span.menu" ).click(function() {
            $( "ul.res" ).slideToggle( 300, function() {
                // Animation complete.
            });
        });
        new WOW().init();
    });
</script>
<!--
<div class="banner">
    <div class="banner-main">
        <div class="slider-bann wow bounceInRight" data-wow-delay="0.3s">
            <ul class="rslides" id="slider2">
                <li>
                    <h3>Welcome To Our world</h3>
                    <h4>The Best Way To Be cure</h4>
                <div class="ban-btn">
                    <a href="single.html" class="hvr-bounce-out">Load More</a>
                </div>
                </li>
                <li>
                    <h3>Find Beautiful doctors</h3>
                    <h4>The Best Way To Be cure</h4>
                <div class="ban-btn">
                    <a href="single.html" class="hvr-bounce-out">Load More</a>
                </div>
                </li>
                <li>
                    <h3>And get energetic</h3>
                    <h4>The Best Way To Be cure</h4>
                <div class="ban-btn">
                    <a href="single.html" class="hvr-bounce-out">Load More</a>
                </div>
                </li>
            </ul>
        </div>
    </div>
</div>

-->



<!--header end here-->
<!--what we do strat here-->
<div>
    <h2></h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->,
        <div class="carousel-inner">

            <div class="item active">
                <img src="photos/slider6.jpg" alt="Los Angeles"/>
                <div class="carousel-caption">
                    <h3>Welcome To Our world</h3>
                    <h4>The Best Way To Be cure</h4>
                </div>
            </div>

                <div class="item">
                <img src="photos/slider5.jpg" alt="Chicago"/>
                <div class="carousel-caption">
                    <h3>Find Beautiful Doctors</h3>
                    <h4>The Best Way To Be Cure</h4>
                </div>
            </div>

            <div class="item">
                <img src="photos/slider1.jpg" alt="New York" />
                <div class="carousel-caption">
                    <h3>Feel The Passion</h3>
                    <h4>The Best Way To Be Cure</h4>
                </div>
            </div>

            <div class="item">
                <img src="photos/slider7.jpg" alt="New York"/>
                <div class="carousel-caption">
                    <h3>And Get Energetic</h3>
                    <h4>The Best Way To Be Cure</h4>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>





<div class="what-we-do">
    <div class="container">
        <div class="what-we-do-main  wow bounceInLeft" data-wow-delay="0.3s">
                <h2>{{what}}</h2>
                <span class="lft-bar-we"> </span>
                <span class="rit-bar-we"> </span>
                <p>Distributor and wholesaler of  Surgical disposable products, Bio Medical Accessories, Medical devices and many more. We assure to provide these products in given time frame.</p>
                <a ui-sref="hotel" class="hvr-bounce-out">Read More</a>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--what we do end here-->
<!--peoples strat here-->

<!--peoples end here-->
<!--disk bar strat here-->
<!--disk bar end here-->
<!--features strat here-->
<div class="visit">
    <div class="container">
        <div class="visit-main wow bounceInRight" data-wow-delay="0.3s">
            <div class="visit-top">
                <h3>devices</h3>
                <span class="lft-bar-visit"> </span>
                <span class="rit-bar-visit"> </span>
            </div>
            <div class="visit-bottom">
                <div class="col-md-4 visit-grid">
                    <div class="item-1 item-type-spin">
                        <a class="item-hover swipebox" href="single.html" data-title="Vigor">
                            <div class="item-info">
                                <div class="headline">
                                    products
                                    <div class="line"></div>
                                    <div class="date"></div>
                                </div>
                            </div>
                            <div class="mask"></div>
                        </a>
                        <div class="item-img">
                            <img src="photos/str.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <h4><a href="single.html">stretcher</a></h4>
                    <p>But It is used to carry the patient to the operation theatre in easy manner and to transfer them .</p>
                    <div class="visit-blog">
                        <div class="visit-btn">
                            <a href="single.html"></a>
                        </div>
                        <div class="visit-likes">
                            <a href="#"><span class="#"></span></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-4 visit-grid">
                    <div class="item-1 item-type-spin">
                        <a class="item-hover swipebox" href="single.html" data-title="Vigor">
                            <div class="item-info">
                                <div class="headline">
                                    devices
                                    <div class="line"></div>
                                    <div class="date">working</div>
                                </div>
                            </div>
                            <div class="mask"></div>
                        </a>
                        <div class="item-img">
                            <img src="photos/fig.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <h4><a href="single.html">figure the pulse</a></h4>
                    <p>It is used to know the rate of the pulse and the blood rate and used to check the heart beat rate</p>
                    <div class="visit-blog">
                        <div class="visit-btn">
                            <a href="single.html"></a>
                        </div>
                        <div class="visit-likes">
                            <a href="#"><span class="#"></span></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-4 visit-grid">
                    <div class="item-1  item-type-spin">
                        <a class="item-hover swipebox" href="single.html" data-title="Vigor">
                            <div class="item-info">
                                <div class="headline">
                                    surgical device
                                    <div class="line"></div>
                                    <div class="date">working</div>
                                </div>
                            </div>
                            <div class="mask"></div>
                        </a>
                        <div class="item-img">
                            <img src="photos/hyd.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <h4><a href="single.html">hydraulic operation</a></h4>
                    <p>It is used for the transfer during the operation while the patient was in anasthetics</p>
                    <div class="visit-blog">
                        <div class="visit-btn">
                            <a href="single.html"></a>
                        </div>
                        <div class="visit-likes">
                            <a href="#"><span class="#"></span></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>




<div class="features">
    <div class="container">
        <div class="features-main">
            <div class="features-top">
                <h3>services</h3>
                <span class="lft-bar-fea"> </span>
                <span class="rit-bar-fea"> </span>
            </div>
            <div class="features-bottom">
                <div class="col-md-6 features-left wow bounceInLeft" data-wow-delay="0.3s">
                    <div class="feature-grids">
                        <div class="fea-img">
                            <img src="images/fe1.png" alt="">
                        </div>
                        <div class="fea-text">
                            <h4>Manufacturing</h4>
                            <p>manufacturing the surgical products and selling it out</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="feature-grids">
                        <div class="fea-img">
                            <img src="images/fe2.png" alt="">
                        </div>
                        <div class="fea-text">
                            <h4>Sales & Repairs</h4>
                            <p>doing sales and repairs.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-6 features-right wow bounceInRight" data-wow-delay="0.3s">
                    <div class="feature-grids">
                        <div class="fea-img">
                            <img src="images/fe3.png" alt="">
                        </div>
                        <div class="fea-text">
                            <h4>Administrative</h4>
                            <p>taking the ownership and doing medical instrumental; projects</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="feature-grids">
                        <div class="fea-img">
                            <img src="images/fe4.png" alt="">
                        </div>
                        <div class="fea-text">
                            <h4>R & D</h4>
                            <p>doing resource and developement</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--features end here-->
<!--visit places strat here-->
