<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
			Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

        <title> SHAN SURGICAL & CO</title>

        <link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/style1.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/base.css" rel="stylesheet" type="text/css" media="all">
        <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
        <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/lib/w3.js"></script>
        <script>
            w3.includeHTML();
        </script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/jquery.flexslider.js"></script>
        <script src="js/responsiveslides.min.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script src="js/wow.min.js"> </script>
		<!-- Custom Theme files -->


		<!-- Custom Theme files -->

		<script type="application/x-javascript">
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
		</script>
		<!--Google Fonts-->

        <!-- //end-smoth-scrolling -->
        <script src="angular/angular.js"></script>
		<script src="angular/angular-ui-router.js"></script>
        <script src="js/app.js"></script>
        <script src="controllers/headercontroller.js"></script>
        <!-- requried-jsfiles-for owl -->

        <!-- //requried-jsfiles-for owl -->
        <!-- animated-css -->

        <script>
         new WOW().init();
        </script>



        <!-- FlexSlider  -->
    </head>
    <body ng-app="webapp">
		<!--header start here-->
            <div class="header">
                <div class="container">
                    <div class="header-main">
                        <div class="logo wow bounceInLeft" data-wow-delay="0.3s">
                            <a href="home.html"><img src="photos/logo3.png"  alt="" height="60px" width="400px"></a>
                        </div>
                        <div class="top-navg" ng-controller="HeaderController">
                            <span class="menu"> <img src="images/icon.png" alt=""/></span>
                            <nav class="cl-effect-13">
                                <ul class="res">
                                    <li><a ui-sref="{{headerLinks.home.link}}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;{{headerLinks.home.label}}</a></li>
                                    <li><a ui-sref="{{headerLinks.about.link}}"><span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;&nbsp;{{headerLinks.about.label}}</a></li>
                                    <li><a ui-sref="{{headerLinks.hotel.link}}"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;&nbsp;{{headerLinks.hotel.label}}</a></li>
                                    <li><a ui-sref="{{headerLinks.gallery.link}}"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;{{headerLinks.gallery.label}}</a></li>
                                    <li><a ui-sref="{{headerLinks.contact.link}}"><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;{{headerLinks.contact.label}}</a></li>
                                </ul>
                            </nav>
                        </div>
                        <script>
                            $( "span.menu" ).click(function() {
                                $( "ul.res" ).slideToggle( 300, function() {
                                    // Animation complete.
                                });
                            });
                        </script>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        <div ui-view></div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sin!4v1431577187804"> </iframe>
                <div class="footer">
                    <div class="container">
                        <div class="footer-main">

                            <div class="col-md-offset-2 col-md-3 ftr-grids  wow bounceIn" data-wow-delay="0.4s">
                                <h4>Get in Touch</h4>
                                <ul class="get -touch">
                                <li><span class="share"> </span><a href="#">Express the medical feeling </a></li>
                                <li><span class="email"> </span><a href="mailto:info@example.com">shan@gmail.com</a> </li>
                                <li><span class="phone"> </span>+08048606041 </li>
                                </ul>
                            </div>
                        <div class="col-md-2 ftr-grids  wow bounceIn" data-wow-delay="0.4s">
                            <h4>Follow Us</h4>
                            <ul class="mid-grid">
                                <li><a href="#"><span class="fb"> </span></a></li>
                                <li><a href="#"><span class="gmail"> </span></a> </li>
                            </ul>
                        </div>

                            <div class="col-md-3 ftr-grids  wow bounceIn" data-wow-delay="0.4s">
                                    <h4>Popular Posts</h4>
                                    <div class="ftr-last">
                                        <div class="ftr-month">
                                            <h6><a ui-sref="gallery">GALLERY</a></h6>
                                        </div>
                                        <div class="ftr-like">
                                            <h6></h6>
                                        </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                                    <p><a ui-sref="gallery"></a></p>
                                    <div class="ftr-last">
                                        <div class="ftr-month">
                                            <h6> <a ui-sref="about">ABOUT US</a></h6>
                                        </div>
                                        <div class="ftr-like">
                                            <h6></h6>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                    <p> </p>
                            </div>

                            <div class="clearfix"> </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--footer end here-->
            <div class="copy-right wow bounceInLeft" data-wow-delay="0.3s">
	            <p> &copy; 2016 shan. All rights reserved | Design by <a ui-sref="about">Dshan</a></p>
            </div>

    </body>
</html>