<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="single">
	<div class="container">
		<div class="single-top wow bounceInLeft" data-wow-delay="0.3s">
			<img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" src="images/b1.jpg" alt="" />
				<div class="lone-line">
					<h4>Social Sense Perception of Loneliness</h4>
						<ul class="grid-blog">
							<li><span><i class="glyphicon glyphicon-time"> </i>08.09.2014</span></li>
							<li><a href="#"><i class="glyphicon glyphicon-comment"> </i>5 Comment</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-share"> </i>Share</a></li>
						</ul>
						<p class="wow fadeInLeft animated" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></p>
				</div>
		</div>
			<div class="comment wow bounceInRight" data-wow-delay="0.3s">
								<h3>Comments</h3>
								 <div class="media wow fadeInLeft animated" data-wow-delay=".5s">
									<div class="code-in">
										<p class="smith"><a href="#">Andey</a> <span>02 June 2014, 15:20</span></p>
										<p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
										<div class="clearfix"> </div>
									</div>
									<div class="media-left">
										<a href="#">
											<img src="images/b2.png" alt="">
										</a>
									</div>
									<div class="media-body">

										<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
									</div>
								 </div>
									<div class="media media-1 wow fadeInUp animated" data-wow-delay=".5s">
										<div class="code-in">
											<p class="smith"><a href="#"> Rackham</a> <span>02 June 2014, 15:20</span></p>
											<p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
										<div class="clearfix"> </div>
									</div>
									<div class="media-left">
										<a href="#">
											<img src="images/b3.png" alt="">
										</a>
									</div>
									<div class="media-body">

										<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
									</div>
									</div>
									<div class="media wow fadeInRight animated" data-wow-delay=".5s">
									<div class="code-in">
										<p class="smith"><a href="#">Clara</a> <span>02 June 2014, 15:20</span></p>
										<p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
										<div class="clearfix"> </div>
									</div>
									<div class="media-left">
										<a href="#">
											<img src="images/b4.png" alt="">
										</a>
									</div>
									<div class="media-body">

										<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
									</div>
									</div>
							 </div>
		<div class="leave wow bounceInLeft" data-wow-delay="0.3s">
			<h3>Leave a comment</h3>
				<form>
					<div class="single-grid wow fadeInLeft animated" data-wow-delay=".5s">
						
							<input type="text" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Name';}">
						
							<input type="text" value="E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'E-mail';}">
						
						
							<input type="text" value="Web site" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Web site';}">
						
							<textarea value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Comment';}">Comment</textarea>
						<label class="hvr-rectangle-out">
								<input type="submit" value="Send">
						</label>						
				</div>
				</form>
			</div>
	</div>		
</div>
<!----> <script>
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            items : 3,
            lazyLoad : true,
            autoPlay : false,
            pagination : true,
        });
        $("#slider2").responsiveSlides({
            auto: true,
            pager: true,
            speed: 300,
            namespace: "callbacks",
        });
    });

</script>
<!--single end here-->
<!--footer start here-->
